{
 :ferment.runtime/default
 {:models   #ref :ferment/models
  :router   #ref :ferment.router/default
  :resolver #ref :ferment.resolver/default
  :protocol #ref :ferment.protocol/default
  :roles    #ref :ferment.roles/default
  :session  #ref :ferment.session/default
  :ferment.model.session/enabled? false
  :effects
  {:fs/write
   {:enabled? true
    :root "."
    :allow ["src/" "test/" "resources/" "doc/" "dev/" "target/" "tmp/"]}
   :process/run
   {:enabled? true
    :root "."
    :allow-cwd ["."]
    :allow-commands ["clojure" "git" "rg" "sed" "cat" "ls" "mkdir" "cp" "mv" "printf"]}
   :net/http
   {:enabled? false
    :allow-schemes #{:https}
    :allow-hosts []
    :allow-ports []}}
  :queue
  {:enabled? false
   :max-size 256
   :classes [:interactive :batch]
   :priority-order [:interactive :batch]
   :default-class :interactive
   :workers 1
   :poll-interval-ms 25
   :default-timeout-ms 15000
   :default-deadline-ms 20000
   :max-deadline-ms 120000
   :retry {:max-attempts 2
           :base-backoff-ms 100
           :jitter-ms 25}}
  :execution-graph
  {:enabled? false
   :store/type :fs-ednl
   :store/path "target/runtime/execution-graph/events.ednl"
   :max-events 200000}
  :oplog    #ref :ferment.logging/oplog}

 }
