{

 :ferment.session.store/default
 {:backend        :db
  :db             #ref :ferment.db/main
  :sessions-table :sessions
  :vars-table     :session_vars
  :session-vars/contract
  {:keys/require-qualified? true
   :keys/allowed-namespaces #{"session" "user" "agent" "runtime" "request" "context"}
   :ttl/default-ms          14400000
   :ttl/max-ms              604800000
   :freeze/allow-write?     false
   :freeze/allow-delete?    false
   :limits/max-vars         256
   :limits/max-key-chars    191
   :limits/max-value-bytes  131072}
  :max-sessions   4096}

 :ferment.session.context/default
 {:context/version      1
  :window/turns         16
  :window/max-chars     20000
  :summary/target-chars 1200}

 :ferment.session.manager/default
 {:store            #ref :ferment.session.store/default
  :context          #ref :ferment.session.context/default
  :max-hot-sessions 32
  :idle-ttl-ms      900000}

 :ferment.session/default
 {:manager #ref :ferment.session.manager/default
  :store   #ref :ferment.session.store/default
  :context #ref :ferment.session.context/default}

}
