{:name         "ferment"
 :description  "Freedom to Models"
 :license      "GNU Lesser General Public License 3.0"
 :package      io.randomseed/ferment
 :output-path  "docs"
 :source-uri   "https://github.com/randomseed-io/ferment/blob/{version}/{filepath}#L{line}"
 :metadata     {:doc/format :markdown}
 :exclude-vars nil
 :themes       [:default :randomseed]}
