{:name         "ferment"
 :description  "Freedom to Models"
 :license      "Apache License 2.0 (Apache-2.0)"
 :package      ai.orbiplex/ferment
 :output-path  "docs"
 :source-uri   "https://github.com/diapod/ferment/blob/{version}/{filepath}#L{line}"
 :metadata     {:doc/format :markdown}
 :exclude-vars nil
 :themes       [:default :randomseed]}
